name: C2Core Tests (Windows)

on: workflow_dispatch

jobs:
  test-windows:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v1.1.3
        with:
          msbuild-architecture: x64

      - name: Configure CMake for tests
        run: cmake -G "Visual Studio 17 2022" -S . -B build -DC2CORE_BUILD_TESTS=ON

      - name: Build
        run: cmake --build build --config Release --parallel

      - name: Run tests
        run: ctest --test-dir build -C Release
